USE [master]
GO
/****** Object:  Database [TripGo]    Script Date: 10/16/2024 12:12:44 AM ******/
CREATE DATABASE [TripGo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TripGo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TripGo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TripGo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TripGo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TripGo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TripGo]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[Permissions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANSWER]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[QuestionID] [int] NULL,
	[AnswerText] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BookingDate] [datetime] NULL,
	[ServiceID] [int] NULL,
	[NumberOfPeople] [int] NULL,
	[TotalCost] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[RefundPolicy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOM_TOUR]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOM_TOUR](
	[CustomTourID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[GroupSize] [int] NULL,
	[DestinationList] [text] NULL,
	[CreatedAt] [datetime] NULL,
	[QuestionID] [int] NULL,
	[LocationID] [int] NULL,
	[StaffID] [int] NULL,
	[PaymentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomTourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITE]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITE](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TourID] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[HotelID] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [nvarchar](255) NULL,
	[LocationID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[StarRating] [int] NULL,
	[Amenities] [nvarchar](max) NULL,
	[ReviewID] [int] NULL,
	[RoomTypes] [nvarchar](255) NULL,
	[Chain] [nvarchar](255) NULL,
	[IsCentral] [bit] NULL,
	[IsBreakfastIncluded] [bit] NULL,
	[IsFreeCancellation] [bit] NULL,
	[ChildFreePolicy] [bit] NULL,
	[BookingID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Description] [text] NULL,
	[LocationType] [nvarchar](50) NULL,
	[ManagedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[QRCode] [text] NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[Amount] [decimal](10, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[ManagedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCES]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCES](
	[PreferenceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Interest] [nvarchar](255) NULL,
	[BudgetRange] [decimal](10, 2) NULL,
	[TravelType] [nvarchar](50) NULL,
	[DestinationType] [nvarchar](100) NULL,
	[QuestionnaireID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PreferenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLICTOUR]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLICTOUR](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NULL,
	[DayNumber] [int] NULL,
	[ActivityDescription] [text] NULL,
	[LocationID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NULL,
	[ReviewID] [int] NULL,
	[PaymentID] [int] NULL,
	[FavoriteID] [int] NULL,
	[ManagedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTIONNAIRE]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONNAIRE](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [text] NULL,
	[AnswerOptions] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESTAURANT]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANT](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantName] [nvarchar](255) NULL,
	[LocationID] [int] NULL,
	[PriceRange] [nvarchar](50) NULL,
	[CuisineType] [nvarchar](255) NULL,
	[MealType] [nvarchar](255) NULL,
	[StarRating] [int] NULL,
	[ReviewID] [int] NULL,
	[IsOpen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEW]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEW](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TourID] [int] NULL,
	[ReviewText] [text] NULL,
	[Rating] [decimal](2, 1) NULL,
	[ReviewDate] [datetime] NULL,
	[ManagedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[Description] [text] NULL,
	[AdminID] [int] NULL,
	[Permissions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](255) NULL,
	[ServiceType] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Description] [text] NULL,
	[TourID] [int] NULL,
	[LocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_MANAGEMENT]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_MANAGEMENT](
	[ManagementID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[ServiceID] [int] NULL,
	[Permissions] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManagementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOURCAMPING]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOURCAMPING](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](255) NULL,
	[Description] [text] NULL,
	[Location] [nvarchar](255) NULL,
	[TourType] [nvarchar](50) NULL,
	[Ratings] [decimal](2, 1) NULL,
	[LocationID] [int] NULL,
	[ManagedBy] [int] NULL,
	[QuestionnaireID] [int] NULL,
	[ContactInfo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoleID] [int] NULL,
	[AssignedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERs]    Script Date: 10/16/2024 12:12:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERs](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](15) NULL,
	[Password] [nvarchar](255) NULL,
	[DOB] [date] NULL,
	[Nationality] [nvarchar](50) NULL,
	[PreferencesID] [int] NULL,
	[RoleType] [nvarchar](50) NULL,
	[ManagedByAdminID] [int] NULL,
	[ServiceID] [int] NULL,
	[Role] [nvarchar](50) NULL,
	[CCCD] [nvarchar](12) NULL,
	[AdminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOM_TOUR] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FAVORITE] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[REVIEW] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Questionnaire] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QUESTIONNAIRE] ([QuestionID])
GO
ALTER TABLE [dbo].[ANSWER] CHECK CONSTRAINT [FK_Answer_Questionnaire]
GO
ALTER TABLE [dbo].[ANSWER]  WITH CHECK ADD  CONSTRAINT [FK_Answer_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[ANSWER] CHECK CONSTRAINT [FK_Answer_User]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[SERVICE] ([ServiceID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_Booking_Service]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[BOOKING] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[CUSTOM_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CustomTour_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[LOCATION] ([LocationID])
GO
ALTER TABLE [dbo].[CUSTOM_TOUR] CHECK CONSTRAINT [FK_CustomTour_Location]
GO
ALTER TABLE [dbo].[CUSTOM_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CustomTour_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PAYMENT] ([PaymentID])
GO
ALTER TABLE [dbo].[CUSTOM_TOUR] CHECK CONSTRAINT [FK_CustomTour_Payment]
GO
ALTER TABLE [dbo].[CUSTOM_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CustomTour_Questionnaire] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QUESTIONNAIRE] ([QuestionID])
GO
ALTER TABLE [dbo].[CUSTOM_TOUR] CHECK CONSTRAINT [FK_CustomTour_Questionnaire]
GO
ALTER TABLE [dbo].[CUSTOM_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CustomTour_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[CUSTOM_TOUR] CHECK CONSTRAINT [FK_CustomTour_User]
GO
ALTER TABLE [dbo].[FAVORITE]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[TOURCAMPING] ([TourID])
GO
ALTER TABLE [dbo].[FAVORITE] CHECK CONSTRAINT [FK_Favorite_Tour]
GO
ALTER TABLE [dbo].[FAVORITE]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[FAVORITE] CHECK CONSTRAINT [FK_Favorite_User]
GO
ALTER TABLE [dbo].[HOTEL]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKING] ([BookingID])
GO
ALTER TABLE [dbo].[HOTEL] CHECK CONSTRAINT [FK_Hotel_Booking]
GO
ALTER TABLE [dbo].[HOTEL]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[LOCATION] ([LocationID])
GO
ALTER TABLE [dbo].[HOTEL] CHECK CONSTRAINT [FK_Hotel_Location]
GO
ALTER TABLE [dbo].[HOTEL]  WITH CHECK ADD  CONSTRAINT [FK_Hotel_Review] FOREIGN KEY([ReviewID])
REFERENCES [dbo].[REVIEW] ([ReviewID])
GO
ALTER TABLE [dbo].[HOTEL] CHECK CONSTRAINT [FK_Hotel_Review]
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_Location_Staff] FOREIGN KEY([ManagedBy])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[LOCATION] CHECK CONSTRAINT [FK_Location_Staff]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKING] ([BookingID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Staff] FOREIGN KEY([ManagedBy])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_Payment_Staff]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Questionnaire] FOREIGN KEY([QuestionnaireID])
REFERENCES [dbo].[QUESTIONNAIRE] ([QuestionID])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_Preferences_Questionnaire]
GO
ALTER TABLE [dbo].[PREFERENCES]  WITH CHECK ADD  CONSTRAINT [FK_User_Preferences] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[PREFERENCES] CHECK CONSTRAINT [FK_User_Preferences]
GO
ALTER TABLE [dbo].[PUBLICTOUR]  WITH CHECK ADD  CONSTRAINT [FK_PublicTour_Favorite] FOREIGN KEY([FavoriteID])
REFERENCES [dbo].[FAVORITE] ([FavoriteID])
GO
ALTER TABLE [dbo].[PUBLICTOUR] CHECK CONSTRAINT [FK_PublicTour_Favorite]
GO
ALTER TABLE [dbo].[PUBLICTOUR]  WITH CHECK ADD  CONSTRAINT [FK_PublicTour_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[LOCATION] ([LocationID])
GO
ALTER TABLE [dbo].[PUBLICTOUR] CHECK CONSTRAINT [FK_PublicTour_Location]
GO
ALTER TABLE [dbo].[PUBLICTOUR]  WITH CHECK ADD  CONSTRAINT [FK_PublicTour_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PAYMENT] ([PaymentID])
GO
ALTER TABLE [dbo].[PUBLICTOUR] CHECK CONSTRAINT [FK_PublicTour_Payment]
GO
ALTER TABLE [dbo].[PUBLICTOUR]  WITH CHECK ADD  CONSTRAINT [FK_PublicTour_Review] FOREIGN KEY([ReviewID])
REFERENCES [dbo].[REVIEW] ([ReviewID])
GO
ALTER TABLE [dbo].[PUBLICTOUR] CHECK CONSTRAINT [FK_PublicTour_Review]
GO
ALTER TABLE [dbo].[PUBLICTOUR]  WITH CHECK ADD  CONSTRAINT [FK_PublicTour_Staff] FOREIGN KEY([ManagedBy])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[PUBLICTOUR] CHECK CONSTRAINT [FK_PublicTour_Staff]
GO
ALTER TABLE [dbo].[RESTAURANT]  WITH CHECK ADD  CONSTRAINT [FK_Restaurant_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[LOCATION] ([LocationID])
GO
ALTER TABLE [dbo].[RESTAURANT] CHECK CONSTRAINT [FK_Restaurant_Location]
GO
ALTER TABLE [dbo].[RESTAURANT]  WITH CHECK ADD  CONSTRAINT [FK_Restaurant_Review] FOREIGN KEY([ReviewID])
REFERENCES [dbo].[REVIEW] ([ReviewID])
GO
ALTER TABLE [dbo].[RESTAURANT] CHECK CONSTRAINT [FK_Restaurant_Review]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_Review_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[TOURCAMPING] ([TourID])
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_Review_Tour]
GO
ALTER TABLE [dbo].[REVIEW]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[REVIEW] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[ROLE]  WITH CHECK ADD  CONSTRAINT [FK_Role_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[ADMIN] ([AdminID])
GO
ALTER TABLE [dbo].[ROLE] CHECK CONSTRAINT [FK_Role_Admin]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_Service_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[LOCATION] ([LocationID])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_Service_Location]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_Service_Tour] FOREIGN KEY([TourID])
REFERENCES [dbo].[TOURCAMPING] ([TourID])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_Service_Tour]
GO
ALTER TABLE [dbo].[STAFF_MANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Management_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[SERVICE] ([ServiceID])
GO
ALTER TABLE [dbo].[STAFF_MANAGEMENT] CHECK CONSTRAINT [FK_Staff_Management_Service]
GO
ALTER TABLE [dbo].[STAFF_MANAGEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Management_User] FOREIGN KEY([StaffID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[STAFF_MANAGEMENT] CHECK CONSTRAINT [FK_Staff_Management_User]
GO
ALTER TABLE [dbo].[TOURCAMPING]  WITH CHECK ADD  CONSTRAINT [FK_TourCamping_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[LOCATION] ([LocationID])
GO
ALTER TABLE [dbo].[TOURCAMPING] CHECK CONSTRAINT [FK_TourCamping_Location]
GO
ALTER TABLE [dbo].[TOURCAMPING]  WITH CHECK ADD  CONSTRAINT [FK_TourCamping_Questionnaire] FOREIGN KEY([QuestionnaireID])
REFERENCES [dbo].[QUESTIONNAIRE] ([QuestionID])
GO
ALTER TABLE [dbo].[TOURCAMPING] CHECK CONSTRAINT [FK_TourCamping_Questionnaire]
GO
ALTER TABLE [dbo].[TOURCAMPING]  WITH CHECK ADD  CONSTRAINT [FK_TourCamping_Staff] FOREIGN KEY([ManagedBy])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[TOURCAMPING] CHECK CONSTRAINT [FK_TourCamping_Staff]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Admin] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[ADMIN] ([AdminID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_UserRole_Admin]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLE] ([RoleID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_UserRole_Role]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERs] ([UserID])
GO
ALTER TABLE [dbo].[USER_ROLE] CHECK CONSTRAINT [FK_UserRole_User]
GO
ALTER TABLE [dbo].[USERs]  WITH CHECK ADD  CONSTRAINT [FK_User_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[ADMIN] ([AdminID])
GO
ALTER TABLE [dbo].[USERs] CHECK CONSTRAINT [FK_User_Admin]
GO
USE [master]
GO
